# **Improving Employee Retention By Predicting Employee Attrition Using Machine Learning**

### **Import Libraries and Settings**

In [1]:
# Import initial necessary libraries
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Settings of dataframe display
pd.options.display.max_columns = 100
pd.options.display.max_colwidth = None

# Version requirements
print('numpy version : ',np.__version__)
print('pandas version : ',pd.__version__)
print('seaborn version : ',sns.__version__)

numpy version :  1.26.4
pandas version :  2.2.1
seaborn version :  0.13.2

## Load Dataset

In [2]:
df = pd.read_csv('Dataset CSV Version.csv')

In [9]:
df.sample(5)

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
131,tautTacos4,105986,Bercerai,Wanita,FullTime,Software Engineer (Front End),Freshgraduate_program,Kurang,Jakarta Selatan,LinkedIn,4,5.0,0.0,0.0,9.0,+6289717407xxx,tautTacos4135@hotmail.com,Sarjana,1,NaN,masih_bekerja,1964-04-13,2014-01-06,2020-1-21,-
11,grizzledSnipe7,111354,Bercerai,Wanita,FullTime,Software Engineer (Back End),Senior_level,Sangat_bagus,Jakarta Barat,CareerBuilder,1,5.0,0.0,5.0,2.0,+6289987666xxx,grizzledSnipe7992@outlook.com,Magister,1,NaN,tidak_bahagia,1989-07-18,2011-07-05,2016-02-06,2018-9-19
43,shamefulIguana0,101682,Lainnya,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Bagus,Jakarta Barat,Indeed,3,5.0,0.0,0.0,4.0,+6281210001xxx,shamefulIguana0780@yahoo.com,Magister,1,0.0,masih_bekerja,1967-06-05,2013-2-18,2020-1-14,-
155,joyfulCod3,100801,Lainnya,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,Diversity_Job_Fair,4,4.0,0.0,3.0,15.0,+6287886819xxx,joyfulCod3447@yahoo.com,Sarjana,1,NaN,masih_bekerja,1974-08-09,2012-04-02,2016-1-20,-
204,boredEggs0,106285,Lainnya,Wanita,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Diversity_Job_Fair,3,3.0,0.0,0.0,12.0,+6285733263xxx,boredEggs0225@outlook.com,Sarjana,1,NaN,jam_kerja,1967-06-03,2013-04-01,2020-2-13,2014-8-19

In [6]:
# Checking shape of dataframe
print(f'Number of rows: {df.shape[0]}')
print(f'Number of columns {df.shape[1]}')

Number of rows: 287
Number of columns 25

The original dataframe has 287 rows and 25 columns.

In [7]:
# Dataset overview
desc_col = []

for col in df.columns :
    desc_col.append([col, df[col].dtype, df[col].isna().sum(), round(df[col].isna().sum()/len(df) * 100, 2), df.duplicated().sum(), df[col].nunique(), df[col].unique()[:5]])

desc_df = pd.DataFrame(data=desc_col, columns='Feature, Data Type, Null Values, Null Percentage (%), Duplicated Values, Unique Values, 5 Unique Sample'.split(","))
desc_df

,Feature,Data Type,Null Values,Null Percentage (%),Duplicated Values,Unique Values,5 Unique Sample
0,Username,object,0,0.00,0,285,"[spiritedPorpoise3, jealousGelding2, pluckyMuesli3, stressedTruffle1, shyTermite7]"
1,EnterpriseID,int64,0,0.00,0,287,"[111065, 106080, 106452, 106325, 111171]"
2,StatusPernikahan,object,0,0.00,0,5,"[Belum_menikah, Menikah, Bercerai, Lainnya, -]"
3,JenisKelamin,object,0,0.00,0,2,"[Pria, Wanita]"
4,StatusKepegawaian,object,0,0.00,0,3,"[Outsource, FullTime, Internship]"
5,Pekerjaan,object,0,0.00,0,14,"[Software Engineer (Back End), Data Analyst, Software Engineer (Front End), Product Manager, Software Engineer (Android)]"
6,JenjangKarir,object,0,0.00,0,3,"[Freshgraduate_program, Senior_level, Mid_level]"
7,PerformancePegawai,object,0,0.00,0,5,"[Sangat_bagus, Sangat_kurang, Bagus, Biasa, Kurang]"
8,AsalDaerah,object,0,0.00,0,5,"[Jakarta Timur, Jakarta Utara, Jakarta Pusat, Jakarta Selatan, Jakarta Barat]"
9,HiringPlatform,object,0,0.00,0,9,"[Employee_Referral, Website, Indeed, LinkedIn, CareerBuilder]"
10,SkorSurveyEngagement,int64,0,0.00,0,5,"[4, 3, 2, 1, 5]"
11,SkorKepuasanPegawai,float64,5,1.74,0,5,"[4.0, 3.0, 5.0, nan, 2.0]"
12,JumlahKeikutsertaanProjek,float64,3,1.05,0,9,"[0.0, 4.0, 6.0, nan, 7.0]"
13,JumlahKeterlambatanSebulanTerakhir,float64,1,0.35,0,7,"[0.0, 4.0, 3.0, 5.0, 2.0]"
14,JumlahKetidakhadiran,float64,6,2.09,0,22,"[9.0, 3.0, 11.0, 6.0, 10.0]"
15,NomorHP,object,0,0.00,0,287,"[+6282232522xxx, +6281270745xxx, +6281346215xxx, +6283233846xxx, +6287883263xxx]"
16,Email,object,0,0.00,0,287,"[spiritedPorpoise3135@yahoo.com, jealousGelding2239@yahoo.com, pluckyMuesli3961@icloud.com, stressedTruffle1406@hotmail.com, shyTermite7149@gmail.com]"
17,TingkatPendidikan,object,0,0.00,0,3,"[Magister, Sarjana, Doktor]"
18,PernahBekerja,object,0,0.00,0,2,"[1, yes]"
19,IkutProgramLOP,float64,258,89.90,0,2,"[1.0, 0.0, nan]"
20,AlasanResign,object,66,23.00,0,11,"[masih_bekerja, toxic_culture, jam_kerja, ganti_karir, tidak_bahagia]"
21,TanggalLahir,object,0,0.00,0,284,"[1972-07-01, 1984-04-26, 1974-01-07, 1979-11-24, 1974-11-07]"
22,TanggalHiring,object,0,0.00,0,97,"[2011-01-10, 2014-01-06, 2014-2-17, 2013-11-11, 2016-10-02]"
23,TanggalPenilaianKaryawan,object,0,0.00,0,127,"[2016-2-15, 2020-1-17, 2016-01-10, 2020-02-04, 2020-1-22]"
24,TanggalResign,object,0,0.00,0,53,"[-, 2018-6-16, 2014-9-24, 2018-09-06, 2019-01-12]"

## **About The Dataset**

In [11]:
df.sample(3)

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
239,finickySwift5,105296,Belum_menikah,Wanita,Outsource,Data Analyst,Freshgraduate_program,Biasa,Jakarta Utara,Google_Search,4,4.0,0.0,0.0,2.0,+6281213075xxx,finickySwift5808@icloud.com,Magister,1,NaN,internal_conflict,1989-09-08,2011-07-11,2017-02-01,2017-6-25
122,puzzledBurritos7,111373,Belum_menikah,Wanita,Outsource,Software Engineer (Android),Mid_level,Kurang,Jakarta Timur,LinkedIn,3,NaN,NaN,0.0,14.0,+6281254157xxx,puzzledBurritos7565@icloud.com,Sarjana,1,NaN,masih_bekerja,1979-03-10,2012-04-02,2020-1-14,-
37,ardentLapwing0,110342,Belum_menikah,Pria,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Barat,Google_Search,3,4.0,0.0,0.0,7.0,+6289811806xxx,ardentLapwing0588@gmail.com,Sarjana,1,NaN,masih_bekerja,1983-07-20,2012-2-20,2020-2-14,-

**Overview:**
- Dataset contains 287 rows, 25 features.
- Dataset consists of 3 data types; float64, int64 and object.
- `TanggalLahir`, `TanggalHiring`, `TanggalPenilaianKaryawan`, `TanggalResign` feature will be changed from object into datetime data type.
- Dataset contains null values in various columns, will be handled after checking the distribution for proper imputation method.
- Some columns like `SkorSurveyEngagement`, `SkorKepuasanPegawai`, `JumlahKeikutsertaanProjek`, `JumlahKeterlambatanSebulanTerakhir`, `JumlahKetidakhadiran`, `IkutProgramLOP` have float data type when it doesn't actually need or representative in decimal value, these feature data type will be changed to integer.
- (Optional) Changing the name of some columns or the values to standardize the overall writing format might be necessary.

**Feature Descriptions**

- `Username`: Username of the employee account
- `EnterpriseID`: ID of the employee in the company
- `StatusPernikahan`: Marital status of the employee
- `JenisKelamin`: Gender of the employee
- `StatusKepegawaian`: Employment status of the employee
- `Pekerjaan`: Role of the employee
- `JenjangKarir`: Level of experience of the employee
- `PerformancePegawai`: Employee performance category score
- `AsalDaerah`: Employee region of origin
- `HiringPlatform`: Platform the employee application is accepted

- `SkorSurveyEngagement`: Level of employee engagement within the organization
- `SkorKepuasanPegawai`: Level of how satisfied employees are with their job and the workplace
- `JumlahKeikutsertaanProjek`: Number of times the employee join a project
- `JumlahKeterlambatanSebulanTerakhir`: Number of times the employee is late
- `JumlahKetidakhadiran`: Number of times the employee is absent
- `NomorHP`: Handphone number of the employee
- `Email`: Personal email of the employee
- `TingkatPendidikan`: Education level Handphone number of the employee
- `PernahBekerja`: Whether the employee have previous work experience or not
- `IkutProgramLOP`: Whether the employee join LOP Program or not

- `AlasanResign`: Reason for resignation of the employee
- `TanggalLahir`: Birth date of the employee
- `TanggalHiring`: Hiring date of the employee
- `TanggalPenilaianKaryawan`: Scoring date of the employee
- `TanggalResign`: Resignation date of the employee

In [13]:
df.columns

Index(['Username', 'EnterpriseID', 'StatusPernikahan', 'JenisKelamin',
       'StatusKepegawaian', 'Pekerjaan', 'JenjangKarir', 'PerformancePegawai',
       'AsalDaerah', 'HiringPlatform', 'SkorSurveyEngagement',
       'SkorKepuasanPegawai', 'JumlahKeikutsertaanProjek',
       'JumlahKeterlambatanSebulanTerakhir', 'JumlahKetidakhadiran', 'NomorHP',
       'Email', 'TingkatPendidikan', 'PernahBekerja', 'IkutProgramLOP',
       'AlasanResign', 'TanggalLahir', 'TanggalHiring',
       'TanggalPenilaianKaryawan', 'TanggalResign'],
      dtype='object')

In [ ]:
# Grouping columns based on data types
nums_cols = []

cats_cols = []

date_cols = []