# **Improving Employee Retention By Predicting Employee Attrition Using Machine Learning**

### **Import Libraries and Settings**

In [1]:
# Import initial necessary libraries
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Settings of dataframe display
pd.options.display.max_columns = 100
pd.options.display.max_colwidth = None

# Version requirements
print('numpy version : ',np.__version__)
print('pandas version : ',pd.__version__)
print('seaborn version : ',sns.__version__)

numpy version :  1.26.4
pandas version :  2.2.1
seaborn version :  0.13.2

## Load Dataset

In [2]:
df = pd.read_csv('Dataset CSV Version.csv')

In [3]:
df.sample(10)

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
113,eagerHoopoe7,111290,Lainnya,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Utara,Indeed,4,5.0,0.0,0.0,2.0,+6285982568xxx,eagerHoopoe7199@hotmail.com,Sarjana,1,NaN,masih_bekerja,1989-03-31,2013-07-08,2020-1-25,-
63,wornoutCrane2,111397,Menikah,Wanita,FullTime,Software Engineer (Front End),Freshgraduate_program,Biasa,Jakarta Timur,Google_Search,2,4.0,0.0,0.0,14.0,+6285982588xxx,wornoutCrane2580@gmail.com,Sarjana,1,NaN,masih_bekerja,1984-10-15,2011-5-16,2019-04-02,-
93,gloomyClam6,100919,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Kurang,Jakarta Timur,Indeed,2,5.0,0.0,0.0,9.0,+6285908172xxx,gloomyClam6755@gmail.com,Doktor,1,NaN,jam_kerja,1988-09-14,2014-8-18,2020-1-30,2015-6-24
202,chicSalami4,106555,Belum_menikah,Wanita,FullTime,Software Engineer (Front End),Freshgraduate_program,Biasa,Jakarta Timur,Website,4,3.0,5.0,0.0,2.0,+6285645161xxx,chicSalami4094@hotmail.com,Magister,1,NaN,kejelasan_karir,1988-05-19,2015-05-01,2020-1-15,2018-06-08
279,peacefulChamois3,106257,Belum_menikah,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,3,4.0,0.0,0.0,13.0,+6282208741xxx,peacefulChamois3574@icloud.com,Doktor,1,NaN,NaN,1980-04-18,2013-07-08,2020-1-22,-
215,boastfulDinosaur8,101147,Belum_menikah,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Pusat,Diversity_Job_Fair,4,4.0,0.0,0.0,17.0,+6281230982xxx,boastfulDinosaur8246@yahoo.com,Magister,1,NaN,NaN,1973-02-14,2011-11-07,2016-02-02,-
262,aloofBasmati5,106166,Belum_menikah,Wanita,FullTime,Software Engineer (Front End),Freshgraduate_program,Sangat_bagus,Jakarta Selatan,LinkedIn,4,4.0,0.0,0.0,16.0,+6287803460xxx,aloofBasmati5005@yahoo.com,Magister,1,NaN,NaN,1986-12-10,2011-07-05,2013-07-02,-
184,jumpyCaviar5,106013,Lainnya,Wanita,Outsource,Software Engineer (Front End),Mid_level,Bagus,Jakarta Barat,Google_Search,3,5.0,0.0,0.0,2.0,+6285892182xxx,jumpyCaviar5364@icloud.com,Magister,1,NaN,leadership,1989-11-11,2011-11-07,2014-3-30,2013-5-30
228,solidSheep7,106069,Belum_menikah,Wanita,Outsource,Product Design (UI & UX),Freshgraduate_program,Bagus,Jakarta Selatan,Indeed,4,3.0,0.0,0.0,20.0,+6281315242xxx,solidSheep7216@outlook.com,Magister,1,NaN,leadership,1979-07-25,2013-01-07,2015-2-20,2017-11-15
157,debonairChile3,110471,Belum_menikah,Wanita,Outsource,Software Engineer (Back End),Freshgraduate_program,Bagus,Jakarta Selatan,LinkedIn,4,5.0,6.0,0.0,7.0,+6289640675xxx,debonairChile3133@gmail.com,Sarjana,1,NaN,toxic_culture,1986-06-06,2016-6-30,2020-2-18,2017-12-12